.btn {
	outline: none;
	border: none;
}
/*
.btn:focus {
	outline: none;
	border: none;
} */
.btn-primary {
	background-color: #142683;
	color: #ffffff;
	width: 140px;
	height: 44px;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}
.btn-primary:hover {
	background-color: #101f6b;
}
.outline {
	background-color: white;
	color: #142683;
	border: 1px solid #142683;
}
.outline:hover {
	background-color: #e5e4e4;
}

.btn:disabled,
btn[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}
